{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/netflix.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <p class="signIn">Sign In</p>
            <input type="text" placeholder="Email or phone number" name="username"><br>
            <input type="text" placeholder="password" name="paswo
            "><br>
            <button>Sign In</button>
            <div class="checksDiv">
                <input id="check" type="checkbox" name="" id="" checked>
                <p>Need help?</p>
            </div>
        </form>
        <p id="New">New to Netflix? <b><a href="">Sign up now</a></b>.</p>
        <p id="pageText">This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="">Learn more.</a></p>
    </div>
</body>
</html>