.instaDiv{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;
}
.formDiv{
    border: 1px solid black;
    width: 350px;
}
.formDesign{
    text-align: center;
}